allow-axfr-ips=127.0.0.0/16, 192.168.0.0/16, 172.16.0.0/12, 10.0.0.0/8
allow-unsigned-notify=yes
allow-unsigned-supermaster=yes
also-notify=
api=yes
api-key={{ pdns.api_key }}
gpgsql-dbname={{ pdns.db_name }}
gpgsql-dnssec=yes
gpgsql-host=localhost
gpgsql-password={{ pdns.db_pass }}
gpgsql-port=5432
gpgsql-user={{ pdns.db_user }}
launch=gpgsql
local-address=0.0.0.0
local-port=5353
master=yes
slave=yes
webserver=yes
webserver-address=0.0.0.0
webserver-allow-from=127.0.0.0/16, 192.168.0.0/16, 172.16.0.0/12, 10.0.0.0/8
webserver-port=8081