allow-from=127.0.0.0/16, 192.168.0.0/16, 172.16.0.0/12, 10.0.0.0/8
api-key={{ pdns.api_key }}
distributor-threads=2
dnssec=off
dont-query=
forward-zones-recurse={{ pdns.forward_zone }}
hint-file=/usr/share/dns/root.hints
include-dir=/etc/powerdns/recursor.d
local-address=0.0.0.0
local-port=53
max-negative-ttl=60
minimum-ttl-override=0
network-timeout=6000
quiet=yes
refresh-on-ttl-perc=10
security-poll-suffix=
server-down-max-fails=0
server-down-throttle-time=0
setgid=pdns
setuid=pdns
webserver=yes
webserver-address=0.0.0.0
webserver-allow-from=127.0.0.0/16, 192.168.0.0/16, 172.16.0.0/12, 10.0.0.0/8
webserver-port=8082